
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&family=Liberation+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 25% 97%;
    --foreground: 200 50% 15%;

    --card: 210 30% 98%;
    --card-foreground: 200 50% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 200 50% 15%;

    --primary: 195 80% 25%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 30% 94%;
    --secondary-foreground: 200 50% 15%;

    --muted: 210 20% 95%;
    --muted-foreground: 210 10% 50%;

    --accent: 260 60% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 195 80% 25%;

    --radius: 0.75rem;

    --gradient-primary: linear-gradient(135deg, hsl(200, 50%, 20%), hsl(260, 60%, 45%));
    --gradient-hero-text: linear-gradient(135deg, hsl(195, 80%, 25%), hsl(260, 60%, 50%));

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: #FFFFFF;
    --foreground: 200 50% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body antialiased;
    margin-top:80px;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer components {
  .text-gradient {
    background: var(--gradient-hero-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .nav-link {
    @apply text-sm font-medium tracking-widest uppercase text-foreground/70 transition-colors duration-200;
  }
  .nav-link:hover {
    @apply text-foreground;
     color: #006874;
  }
 .nav-link-active {
  @apply pb-1;
  color: #006874;
  border-bottom: 2px solid #006874;
}

  .card-skill {
    @apply bg-card rounded-2xl p-10 transition-all duration-300;
    box-shadow: 0 2px 20px -4px hsl(210 20% 80% / 0.5);
  }
  .card-skill:hover {
    box-shadow: 0 8px 30px -4px hsl(210 20% 70% / 0.5);
    transform: translateY(-4px);
  }

  .stat-number {
    @apply text-4xl md:text-5xl font-heading font-bold text-primary;
  }
  .stat-label {
    @apply text-xs tracking-[0.2em] uppercase text-muted-foreground mt-1;
  }

  .section-bg {
    @apply bg-gradient-to-b from-background to-secondary/30;
  }
}
.container{
  max-width: 1280px;
  padding-right: 45px;
  padding-left: 45px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 768px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}